button {
	margin: 0 5px;
	padding: 10px;
	border: none;
	cursor: pointer;
	color: white;
	font-size: 16px;
}

.red {
	background-color: rgb(254, 121, 121);
}

.green {
	background-color: rgb(134, 237, 161);
}

.blue {
	background-color: rgb(138, 179, 246);
}
